<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Extent Report Test">
        <classes>
            <class name="Report.TestBase">
                <methods>
                    <include name="validateTitle"/>
                    <include name="login"/>
                    <include name="testCase"/>
                    <include name="skipTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>